.cell {
  position: relative;
  line-height: 2rem;
  text-align: center;

  cursor: pointer;

  &:hover button {
    opacity: 1;
  }
}

.highlighted {
  background-color: var(--light-green);
}

.right {
  border-right: 1px solid var(--gray);
}

.bottom {
  border-bottom: 1px solid var(--gray);
}