.cell {
  position: relative;
  line-height: 2rem;
  text-align: center;

  cursor: pointer;

  &:hover button {
    opacity: 1;
  }
}

[data-percent]::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: attr(data-percent) "%";
  filter: contrast(attr(data-percent));
  background-color: var(--red);
}

.highlighted {
  background-color: var(--light-green);
}

.right {
  border-right: 1px solid var(--gray);
}

.bottom {
  border-bottom: 1px solid var(--gray);
}